<h1>Your Journal</h1>
<html>
  <head>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }

    </style>
  </head>
  <body>
    <div style='width: 90%;'>
      <div id="map" style='width: 100%; height: 800px;'></div>
    </div>
  <script>

  // This example creates an interactive map which constructs a polyline based on
  // user clicks. Note that the polyline only appears once its path property
  // contains two LatLng coordinates.

  var poly;
  var map;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 7,
      center: {lat: 41.879, lng: -87.624}  // Center the map on Chicago, USA.
    });

    poly = new google.maps.Polyline({
      strokeColor: 'blue',
      strokeOpacity: 1.0,
      strokeWeight: 6
  });

  poly.setMap(map);

  // Add a listener for the click event
  map.addListener('click', addLatLng);
  }

  // Handles click events on a map, and adds a new point to the Polyline.
  function addLatLng(event) {
    var path = poly.getPath();

  // Because path is an MVCArray, we can simply append a new coordinate
  // and it will automatically appear.
  path.push(event.latLng);

  // Add a new marker at the new plotted point on the polyline.
  var marker = new google.maps.Marker({
    position: event.latLng,
    title: '#' + path.getLength(),
    map: map
  });
  }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap">
    </script>
  </body>
</html>

